# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# 数据科学
*.csv~
*.xlsx~
.DS_Store
Thumbs.db

# 临时文件
*.tmp
*.bak
*.swp
*.swo

# 大文件
*.zip
*.tar.gz
